.about-project {
  @include container(column, $gap: 60px);
  width: 100%;
  margin: 60px auto 0;
  &__list {
    @include container(column, $gap: 56px);
  }
  &__list-item {
    @include container(column, $gap: 16px);
  }
  &__item-title {
    @include text($size: $mob-xl);
    letter-spacing: -0.72px;
  }
  &__item-info {
    @include text($size: $mob-s, $height: 16px);
  }
  &__table {
    width: 100%;
  }
  &__table-body {
    @include text($family: $suisseintl-f-nm, $size: $mob-s, $color: $color-gray-cell-f, $align: center);
    width: 100%;
    display: grid;
    row-gap: 10px;
    tr:first-child {
      height: 35px;
      font-family: $inter-f-nm, 'sans-serif';
      background-color: $color-gray-cell-bkg;
      color: $color-black;
      td:first-child {
        background-color: $color-black;
        color: white;
      }
    }
  }
  &__table-row {
    display: grid;
    grid-template-columns: 100px auto;
  }
  &__table-cell {
    @include container($position: center, $align: center);
  }
}

@media screen and (min-width: $tab-screen-w) {
  .about-project {
    margin: 70px auto 0;
    gap: 93px;
    &__list {
      flex-direction: row;
      gap: 30px;
    }
    &__list-item {
      gap: 22px;
    }
    &__item-title {
      font-size: $tab-s;
      letter-spacing: -0.8px;
    }
    &__item-info {
      font-size: $mob-m;
      line-height: 18px;
    }
    &__table-body {
      font-size: $mob-l;
      row-gap: 14px;
      tr:first-child {
        height: 36px;
      }
    }
    &__table-row {
      grid-template-columns: 140px auto;
    }
  }
}
