.section-header {
  @include container(column, $gap: 28px);
  width: 100%;
  &__title {
    @include text($size: $mob-xl);
    letter-spacing: -0.72px;
    width: 100%;
  }
  &__separating-line {
    @include separate-line();
  }
}

@media screen and (min-width: $tab-screen-w) {
  .section-header {
    gap: 23px;
    &__title {
      font-size: $tab-m;
      letter-spacing: -0.88px;
    }
  }
}
