.not-found {
  @extend %page-style;
  @include container(column, center, center, 10px);
  padding: 329px 10px;
  &__header {
    @extend %header-style;
    @include text(80px);
  }
  &__sub-header {
    @extend %header-style;
    @include text();
  }
  &__back-button {
    @include button-link();
    position: absolute;
    bottom: 30px;
  }
}
