.not-found {
  padding: 329px 10px;
  @extend %page-style;
  @extend %container-header-style;
  &__header {
    @include header($mobile-error-code-size);
  }
  &__sub-header {
    @include header($mobile-link-size);
  }
  &__back-button {
    position: absolute;
    bottom: 30px;
    @extend %mobile-button-link-style;
  }
}
