.header {
  width: 100%;
  min-width: $mob-screen-w;
  &__container {
    @include container(row, space-between, center);
    margin: 0 auto;
    max-width: 1280px;
    padding: 18px 14px;
  }
  &__logo {
    @include image-decoration(url('../../images/logo.svg'));
    width: $mob-logo-size;
    height: $mob-logo-size;
  }
  &__burger-menu {
    @include button();
    @include image-decoration(url('../../images/burger.svg'));
    width: 40px;
    height: 43px;
  }
  &__auth-bar {
    @include container(row, center, center, 14px);
  }
  &__register-button {
    @include button-link;
    @include text($size: $mob-xs, $weight: $medium-f-weight, $height: 16px);
  }
  &__login-button {
    @include button;
    @include text($size: $mob-xs, $weight: $medium-f-weight, $height: 16px, $color: $color-white);
    padding: 5px 12px;
  }
}

@media screen and (min-width: $tab-screen-w) {
  .header {
    &__container {
      padding: 18px 30px;
    }
    &__burger-menu {
      width: 44px;
      height: 44px;
    }
    &__auth-bar {
      gap: 30px;
    }
    &__register-button {
      font-size: $mob-m;
    }
    &__login-button {
      padding: 8px 20px;
      font-size: $mob-m;
    }
  }
}
