.header {
  @include container(row, space-between, center);
  margin: auto;
  padding: 18px 14px;
  width: 100%;
  max-width: $mob-screen-width;
  &__logo {
    @include image-decoration(url('../../images/logo.svg'));
    width: $mob-logo-size;
    height: $mob-logo-size;
  }
  &__burger-menu {
    @include button();
    @include image-decoration(url('../../images/burger.svg'));
    width: 40px;
    height: 43px;
  }
  &__auth-bar {
    @include container(row, center, center, 14px);
  }
  &__register-button {
    @include button-link;
    @include text-style($mob-header-font-size, $medium-font-weight, 16px);
  }
  &__login-button {
    @include button;
    @include text-style($mob-header-font-size, $medium-font-weight, 16px, $color: $color-white);
    padding: 5px 12px;
  }
}
