.header {
  margin: auto;
  padding: 15px 14px;
  width: 100%;
  max-width: $def-screen-width;

  @extend %container-style;
  justify-content: space-between;
  align-items: center;

  &__logo {
    width: $def-logo-size;
    height: $def-logo-size;
    @include image-decoration(url('../../images/logo.svg'));
  }
  &__burger-menu {
    width: 40px;
    height: 43px;
    @include image-decoration(url('../../images/burger.svg'));
  }
}
