.promo {
  @include container(column, $gap: 60px);
  margin: 0;
  padding: 183px 0 40px;
  background-color: $color-promo;
  &__title {
    @include text-style($size: 31px, $height: 39px, $align: center);
    letter-spacing: -1.24px;
  }
  &__logo {
    @include image-decoration(url('../../../images/landing-logo.svg'), cover);
    width: 320px;
    height: 230px;
  }
}
