.about-me {
  @include container($direction: column, $gap: 40px);
  margin: 60px auto 0;
  width: 100%;
  &__container {
    width: 100%;
    @include container(column, $gap: 40px);
  }
  &__photo {
    margin: auto;
    max-width: 292px;
    max-height: 352px;
    border-radius: 10px;
  }
  &__data {
    @include container($direction: column);
  }
  &__name {
    @include text($size: $mob-xxl);
    letter-spacing: -1.2px;
  }
  &__status {
    @include text($size: $mob-s, $weight: 500, $height: 16px);
    font-feature-settings: 'clig' off, 'liga' off;
  }
  &__description {
    @include text($size: $mob-s, $weight: 400, $height: 16px);
    font-feature-settings: 'clig' off, 'liga' off;
  }
  &__github-link {
    @include text($size: $mob-l, $weight: 500);
  }
  &__portfolio {
    width: 100%;
    @include container($direction: column, $gap: 40px);
  }
  &__portfolio-title {
    @include text($size: $mob-l, $weight: 400, $height: 20px, $color: $color-gray-cell-f);
    font-feature-settings: 'clig' off, 'liga' off;
  }
  &__portfolio-list {
    @include container($direction: column, $gap: 20px);
    width: 100%;
  }
  &__portfolio-item {
    width: 100%;
  }
  &__portfolio-item-container {
    @include text($size: $mob-xl, $height: 28px);
    @include container($position: space-between);
    margin-bottom: 19px;
    letter-spacing: -0.72px;
  }
  &__portfolio-item-name {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  &__portfolio-link-arrow {
    color: $color-black;
  }
  &__portfolio-separate-line {
    @include separate-line($color-gray-tech-bkg);
  }
}

@media screen and (min-width: $tab-screen-w) {
  .about-me {
    margin: 66px auto 0;
    gap: 91px;
    &__container {
      flex-direction: row-reverse;
      justify-content: space-between;
    }
    &__photo {
      margin: 0;
      max-width: 255px;
      max-height: 307px;
    }
    &__data {
      max-width: 364px;
    }
    &__name {
      font-size: $tab-xl;
      letter-spacing: -1.6px;
      line-height: 40px;
      margin-bottom: 16px;
    }
    &__status {
      font-size: $mob-m;
      line-height: 18px;
      margin-bottom: 20px;
    }
    &__description {
      font-size: $mob-m;
      line-height: 18px;
      margin-bottom: 87px;
    }
    &__github-link {
      font-size: $mob-l;
    }
    &__portfolio {
      gap: 50px;
    }
    &__portfolio-title {
      font-size: $mob-xl;
      line-height: 20px;
    }
    &__portfolio-item-container {
      font-size: $tab-l;
      letter-spacing: -1.12;
      line-height: 50px;
    }
  }
}

@media screen and (min-width: $desc-screen-w) {
  .about-me {
    gap: 101px;
    &__photo {
      margin: 0;
      max-width: 270px;
      max-height: 327px;
    }
    &__data {
      max-width: 600px;
    }
    &__name {
      font-size: $tab-xxl;
      letter-spacing: -2px;
      line-height: 40px;
      margin-bottom: 18px;
    }
    &__status {
      font-size: $mob-xl;
      line-height: 18px;
      margin-bottom: 26px;
    }
    &__description {
      font-size: $mob-l;
      line-height: 22px;
      margin-bottom: 99px;
    }
    &__github-link {
      font-size: $mob-l;
    }
    &__portfolio {
      gap: 50px;
    }
    &__portfolio-title {
      font-size: $mob-xl;
      line-height: 20px;
    }
    &__portfolio-item-container {
      font-size: $mob-xxl;
      letter-spacing: -1.2;
      line-height: 50px;
    }
  }
}
