%page-style {
  width: 100%;
  height: auto;
  box-sizing: border-box;
}

%text-style {
  font: {
    weight: $regular-font-weight;
    style: normal;
  }
  line-height: $def-line-height;
}

%header-style {
  @extend %text-style;
  text-align: center;
  max-width: fit-content;
}

%flex-container {
  position: relative;
  display: flex;
  box-sizing: border-box;
}

%container-center-style {
  @extend %flex-container;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: $def-gap;
}

%container-space-between {
  @extend %flex-container;
  justify-content: space-between;
}

%button-link-style {
  padding: 0;
  background-color: transparent;
  max-width: fit-content;
  border: 0;
}

%mobile-button-link-style {
  @extend %button-link-style;
  font-size: $mobile-link-size;
}

%image-decoration-style {
  background-color: transparent;
  background-position: center;
  background-repeat: no-repeat;
}
