%page-style {
  @extend %zero-indents;
  margin: auto;
  width: 100%;
}

%header-style {
  text-align: center;
  max-width: fit-content;
}

// container styles
%container-style {
  position: relative;
  display: flex;
  box-sizing: border-box;
}

// button styles
%button-style {
  @extend %zero-indents;
  width: fit-content;
  cursor: pointer;
  opacity: 1;
  &:hover {
    opacity: 0.8;
  }
}

%button-def-style {
  @extend %button-style;
  background-color: $color-black;
  border: 1px;
  color: $color-white;
  font-weight: $medium-font-weight;
}

%button-link-style {
  @extend %button-style;
  background-color: transparent;
  border: 0;
}

// image styles
%image-decoration-style {
  @extend %zero-indents;
  background-color: transparent;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
