%zero-indents {
  margin: 0;
  padding: 0;
}

@mixin text(
  $family: $inter-f-nm,
  $size: $mob-m,
  $weight: $regular-f-weight,
  $height: $line-h,
  $color: $color-black,
  $style: normal,
  $align: inherit
) {
  font: {
    family: $family, sans-serif;
    size: $size;
    weight: $weight;
    style: $style;
  }
  line-height: $height;
  color: $color;
  text-align: $align;
}
