@mixin header($size: $def-font-size) {
  @extend %header-style;
  font-size: $size;
}

@mixin button-link($size: $def-font-size) {
  @extend %button-link-style;
  padding: 0;
  font-size: $size;
}

@mixin image-decoration($src, $size) {
  @extend %image-decoration-style;
  background-image: $src;
  background-size: $size;
  size: $size;
}
