@mixin page($device-width: $mob-screen-w) {
  @extend %page-style;
  max-width: $device-width;
}

@mixin button($font-size: $mob-m, $border-radius: $mob-br-rd) {
  @extend %button-def-style;
  border-radius: $border-radius;
}

@mixin button-link($font-size: $mob-m, $font-color: $color-black) {
  @extend %button-link-style;
  color: $font-color;
}

@mixin image-decoration($src, $size: contain) {
  @extend %image-decoration-style;
  background-image: $src;
  background-size: $size;
}

@mixin container($direction: row, $position: flex-start, $align: flex-start, $gap: 0) {
  @extend %container-style;
  flex-direction: $direction;
  justify-content: $position;
  align-items: $align;
  gap: $gap;
}

@mixin separate-line($color: $color-black) {
  @extend %separate-line-style;
  background-color: $color;
}
