// Remove margins
p,
h1,
h2,
h3,
h4,
h5,
h6,
div,
section {
  margin: 0;
  padding: 0;
}

// Remove default list styles
ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

// Set the default font family and size
body {
  font-family: $inter-f-nm, sans-serif;
  font-size: $mob-m;
  color: $color-black;
  background-color: $color-white;

  -webkit-tap-highlight-color: transparent;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
}

// Set App to fullscreen
#root {
  width: 100vw;
  height: 100vh;
}

// Reset anchor text decoration
a {
  text-decoration: none;
}

// Add a pointer cursor to clickable elements
button,
[role="button"] {
  cursor: pointer;
}
