// Remove margins
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

// Remove default list styles
ul,
ol {
  list-style: none;
}

// Set the default font family and size
body {
  font-family: $def-font-name, sans-serif;
  font-size: $def-font-size;
  color: $def-font-color;
  background-color: $def-background-color;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
}

// Set App to fullscreen
#root {
  width: 100vw;
  height: 100vh;
}

// Reset anchor text decoration
a {
  text-decoration: none;
}

// Add a pointer cursor to clickable elements
button,
[role="button"] {
  cursor: pointer;
}
