// ** default(mobile) variables **
// typography
$def-font-name: 'Inter';
$def-font-size: 12px;
$def-header-button-font-size: 10px;

$def-line-height: 1.21;

$regular-font-weight: 400;
$medium-font-weight: 500;
$black-font-weight: 900;
// sizes
$def-screen-width: 320px;
$def-logo-size: 38px;
// colors
$color-black: rgb(0, 0, 0);
$color-white: rgb(255, 255, 255);
