// abbreviations
// w - width, h - height, bt - button, br - border, rd - radius, f - font, nm - name, bkg - background
// ** general variables **
// colors
$color-black: rgb(0, 0, 0);
$color-white: rgb(255, 255, 255);
$color-promo: rgb(243, 193, 248);
$color-gray-cell-f: rgb(160, 160, 160);
$color-gray-cell-bkg: rgb(242, 242, 242);
$color-gray-tech-bkg: rgb(232, 232, 232);

// typography
$inter-f-nm: 'Inter';
$suisseintl-f-nm: 'Suisse Intl';

$line-h: 1.21;

$regular-f-weight: 400;
$medium-f-weight: 500;
$black-f-weight: 900;
// font sizes
$mob-xs: 10px;
$mob-s: 11px;
$mob-m: 12px;
$mob-l: 14px;
$mob-xl: 18px;
$mob-xxl: 30px;

$tab-xs: 13px;
$tab-s: 20px;
$tab-m: 22px;
$tab-l: 28px;
$tab-xl: 40px;
$tab-xxl: 50px;

// sizes
$mob-screen-w: 320px;
$tab-screen-w: 680px;
$desc-screen-w: 1280px;
$mob-logo-size: 38px;
$mob-br-rd: 3px;
